/* Import font Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-white: rgb(237, 237, 237);
  --light-grey: rgb(228, 228, 228);
  --dark-grey: rgb(99, 99, 99);
  --black-grey: rgb(73, 73, 73);
}

html {
  margin: 0;
  padding: 0;
}

header {
  height: 64px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  background-color: red;
  display: flex;
  justify-content: space-between;
  margin: 24px;
  height: 32px;

  .nav-left {
    display: inline-block;

    background-color: aqua;

    .nav-right {
      background-color: aqua;
    }
  }
}

.hero {
  background-color: var(--light-grey);
  display: grid;
  grid-template-columns: 60% 40%;
  /* padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 24px; */

  .hero-item-1 img {
    width: 100%;
    padding: 32px 50px 32px 24px;
  }

  .hero-item-2 {
    width: 100%;
    padding: 24;
  }
}
